{% extends "bootstrap/base.html" %}
{% block title %}PyBlock{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle"
          data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PyBlock</a>
      </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a href="/">Mine</a>
        </li>
        <li>
          <a href="/configure">Configure</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}
{% block content %}
<div class="container">

     <div class="row">
       <div class="col-lg-12">
         <div class="card-body">
           <h4 class="card-title">Transactions to be added to the next block &nbsp;&nbsp;&nbsp;
             <button type="submit" id="refresh_transactions" class="btn btn-sq-xs btn-primary">
               Refresh
             </button>
           </h4>
         </div>
       </div>
     </div>

   </div>

   <!-- Unmined Transactions Table -->
   <div class="container">
     <table id="unmined_transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
     </table>

     <div class="col-lg-12 text-center">
       <input type="button" onclick="mine()" class="btn btn-primary btn-lg" value="Mine">
     </div>

   </div>

   <hr>

   <div class="container">

     <div class="row">
       <div class="col-lg-12">
         <div class="card-body">
           <h4 class="card-title">Transactions on the Blockchain &nbsp;&nbsp;&nbsp;
             <button onclick="refresh_blockchain()" class="btn btn-sq-xs btn-primary">
               Refresh
             </button>
           </h4>
         </div>
       </div>
     </div>

   </div>

   <!-- Blockchain Transactions Table -->
   <div class="container">
     <table id="transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
     </table>
   </div>
   <script type="text/javascript">
   async function get_transactions() {
     const data = await fetch("/transactions/get");
     const djson = await data.json();
     const transactions = [];
     console.log(djson);

   }
   async function refresh_blockchain() {
     let res = await fetch("/nodes/resolve");
     let myjson = await res.json();

     //window.location.reload();
          console.log(myjson);

   }
   async function mine(){
     let res = await fetch("/mine");
     let myjson = await res.json();
     console.log(myjson);
     //window.location.reload();
   }
     async function viewTransaction(){
               const node_url = document.getElementById("node_url").value;
               fetch(`${node_url}/chain`)
               .then(raw_res => raw_res.json())
               .then(res_json=> {
                 console.log(res_json);
                 let tableRef = document.getElementById("transactions_table").getElementsByTagName('tbody')[0];
                 tableRef.innerHTML = '';
                 res_json['chain'].forEach(block => {
                   block['transactions'].forEach(transaction => {
                     let tmp = `<tr>
                                 <th scope="row">${block['block_number']}</th>
                                 <td>${transaction['recipient_address']}</td>
                                 <td>${transaction['sender_address']}</td>
                                 <td>${transaction['value']}</td>
                               </tr>`;
                   let tableRef = document.getElementById("transactions_table").getElementsByTagName('tbody')[0];
                   var newRow   = tableRef.insertRow();
                   newRow.innerHTML = tmp;
                   })
                 })

               }).catch(err=> {
                 console.log(err);
                 let tableRef = document.getElementById("transactions_table").getElementsByTagName('tbody')[0];
                 tableRef.innerHTML = '';
               });


             }
   </script>
{% endblock %}
